# Head to the Overview in the Workers AI section in https://dash.cloudflare.com 
# Click "Use REST API" and generate your API Key and copy your token
CLOUDFLARE_ACCOUNT_ID="YOUR-ACCOUNT-ID"
CLOUDFLARE_API_TOKEN="YOUR-API-TOKEN"